<p id="notice"><%= notice %></p>

<h1>掲示板</h1>
<%= render 'form', board_message: @board_message %>
<p><%= link_to 'go home >>', controller: :board_users %></p>
<hr>
<h2>Posted Messages↓↓</h2>

<table width="90%">
  <thead>
    <tr>
      <th>Message</th>
      <th width="150px">投稿者</th>
      <th></th><th></th>
    </tr>
  </thead>

  <tbody>
    <% @board_messages.each do |board_message| %>
      <tr>
        <td><%= board_message.message %></td>
        <td><%= link_to board_message.board_user.nickname, action: :show, controller: :board_users, id: board_message.board_user_id %>
        <td><%= link_to 'Edit', edit_board_message_path(board_message) %></td>
        <td><%= link_to 'Destroy', board_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div><%= paginate(@board_messages) %></div>
<hr>
<%= render 'footer' %>
