<p id="notice"><%= notice %></p>

<h1>User Home</h1>
<h2><%= @board_user.account.email %>さんの設定</h2>
<%= render 'form', board_user: @board_user %>
<hr>
<p><%= link_to '<< go back', controller: :board_messages %></p>
<p><%= link_to 'LOG OUT', destroy_account_session_path, method: :delete %></p>
<hr>
<div><%= render 'footer' %></div>
